body{
    background-color: lightgreen;
}


label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    font-family: 'Comic Sans MS', sans-serif;
}

input{
    background-color: greenyellow;
    color: darkgreen;
}

input:hover{
    background-color: orange;
}

button{
    background-color: greenyellow;
    color: darkgreen;
}

button:hover{
    background-color: orange;
}

.conm{
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    outline: 3px solid #000;
    border-radius: 10px;
}

.conm1{
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
}


.con{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.con1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
    max-height: 700px;
}

.con2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.but{
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 130px;
    height: 130px;
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

.loader {
    background: none repeat scroll 0 0 #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}
.loader .loader_inner {
    animation: animate 1.5s linear infinite;
    clip: rect(0, 80px, 80px, 40px);
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
}
@keyframes animate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(220deg)
    }
}
.loader .loader_inner:after {
    animation: animate2 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content:'';
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
}
@keyframes animate2 {
    0% {
        box-shadow: inset #b3dfd8 0 0 0 17px;
        transform: rotate(-140deg);
    }
    50% {
        box-shadow: inset #b3dfd8 0 0 0 2px;
    }
    100% {
        box-shadow: inset #b3dfd8 0 0 0 17px;
        transform: rotate(140deg);
    }
}